<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Plataforma de Adoção e Resgate</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="top-header">
        <div class="logo">
            <i class="fa-solid fa-paw fa-3x"></i>
        </div>
        <nav class="main-nav">
            <button id="btn-mapa">
                <a href="#mapa">
                    <i class="fa-solid fa-location-dot"></i> Mapa dos Casos
                </a>
            </button>
            <button id="btn-feed">
                <a href="#feed">
                    <i class="fa-solid fa-folder-open"></i> Feed de Casos
                </a>
            </button>
        </nav>
        <div class="header-right">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Busca...">
            </div>
            <button class="btnLogin">
                <a href="#" class="nav-item login-block" id="loginBtn">
                    <i class="far fa-user-circle"></i>
                    <span>login/cadastrar</span>
                </a>
            </button>
            <button id="btnTelaUsuario" class="btn-usuario" style="display: none;">
                <i class="fa-solid fa-user"></i> USUÁRIO
            </button>
            <div id="userMenuContainer" class="user-menu">
            </div>
        </div>
    </header>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>