<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Plataforma de Adoção e Resgate</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="top-header">
        <div class="logo">
            <i class="fa-solid fa-paw fa-3x"></i>
        </div>
        <nav class="main-nav">
            <button id="btn-mapa" class="nav-btn-transparent">
                <a href="#mapa">
                    <i class="fa-solid fa-location-dot"></i> Mapa dos Casos
                </a>
            </button>
            <button id="btn-feed" class="nav-btn-transparent">
                <a href="#feed">
                    <i class="fa-solid fa-folder-open"></i> Feed de Casos
                </a>
            </button>
        </nav>
        
        <div class="header-right">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Busca...">
            </div>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="user-menu-logged">
                    <div class="user-info">
                        <i class="fa-solid fa-user-check fs-5"></i>
                        <span>@User.Identity.Name</span>
                    </div>
                    
                    <form asp-controller="Usuarios" asp-action="Logout" method="post" class="m-0">
                        <button type="submit" class="btn btn-sm btn-outline-light rounded-pill">
                            Sair <i class="fa-solid fa-right-from-bracket"></i>
                        </button>
                    </form>
                </div>
            }
            else
            {
                <button type="button" class="btnLogin" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <div class="login-block">
                        <i class="far fa-user-circle"></i>
                        <span>login/cadastrar</span>
                    </div>
                </button>
            }
        </div>
    </header>


    <main>
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container text-center">
            &copy; 2026 - Dev_PUC_SoSDog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="~/Views/Usuarios/_LoginModal.cshtml" />
    <partial name="~/Views/Usuarios/_RegistroModal.cshtml" model="new SosDog.Models.Usuario()" />
    <partial name="~/Views/Usuarios/_EsqueciSenhaModal.cshtml" />
    <partial name="~/Views/Usuarios/_RedefinirSenhaModais.cshtml" />
    <partial name="~/Views/Ocorrencias/_CriarOcorrenciaModal.cshtml" model="new SosDog.Models.Ocorrencia()" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/usuario.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>